.header{
  font-size: 16px;
  .header-top{
    height: 60px;
    line-height: 60px;
    padding: 0 30px;
    text-align: right;

    a{
      margin-left: 40px;
    }
  }
  .breadcrumb{
    height: 40px;
    line-height: 40px;
    border-top: 2px solid #7cc4ff;
    padding: 0 30px;
    .breadcrumb-title{
        text-align: center;

    }
    .weather{
      text-align: right;
      .date{
        margin-right: 40px;
      }
    }
  }
}